.actions {
  display: flex;
  flex-direction: column;

}

.h1{
  color:rgb(249, 249, 249)
}

.tabale tr td{
  background-color: black;
  color: rgb(232, 227, 233);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
